.ipynb_checkpoints
changeColor.py
colorVideo.py
descarga.png
siete.ipynb 
tribuna.jpg
baboon.jpg
array.ipynb
emoji.png
hola.png
mask.png
pogchamp.png 
slater.jpg
sv.jpg
sv-1.png 
test.png 
trihard.jpg

